
/sh/
/doc

img/

# *.lua
# *.script
# *.gui_script
# 
# *.tilemap
# *.tilesource
# *.atlas
# *.sprite
# 
# *.collectionfactory
# *.collection
# *.factory
# *.collisionobject
# *.go
# 
# *.gui
# *.label
# *.sound
# 
# *.camera

*.font
*.icns

*.gif
*.jpg
*.png
*.pmf
*.pxd
*.xcf
*.svg
*.tiff
*.ttf

*.mp3
*.ogg

*.sh
*.tpl
*.txt
*.info

typescript

# originalImportedContentDocumentInfo ( .pxd )
# obj/chara/chara/img/
# obj/itm/blbrd/img/
# obj/itm/kagu/bed/img/
# obj/itm/kagu/door/img/

# mac
.DS_Store
.swp
.tags
*.org

