
# mac
.DS_Store
.swp
.tags
*.org

# *.lua
# *.script
# *.gui_script
# 
# *.tilemap
# *.tilesource
# *.atlas
# *.sprite
# 
# *.collectionfactory
# *.collection
# *.factory
# *.collisionobject
# *.go
# 
# *.gui
# *.label
# *.sound
# 
# *.camera


*.font
*.gif
*.icns
*.info
*.jpg
*.mp3
*.ogg
*.pmf
*.png
*.sh
*.svg
*.tiff
*.tpl
*.ttf
*.txt
*.xcf

typescript

# originalImportedContentDocumentInfo ( .pxd )
obj/chara/chara/img/
obj/itm/blbrd/img/
obj/itm/kagu/bed/img/
obj/itm/kagu/door/img/





